{% extends "base.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
           function yourFunction(intValue){
             $("#div_r").load( intValue );
           }
    </script>
    <style>
        .split {
          height: 100%;
          position: fixed;
          z-index: 1;
          overflow-x: hidden;
          padding-top: 20px;
        }
        .left {
          left: 0;
          width:20%;
          background-color: #63ad77;
          padding: 10px;
        }
        .right {
          right: 0;
          width:80%;
          background-color: #87e691;
        }
    </style>
    <div class="" align="center">
        <div id="div_l" class="split left">
            {% if user.is_authenticated %}
                <button style="margin: 10px; " onclick=yourFunction("/reg/")><span class="glyphicon glyphicon-link"></span> Register Node</button>
                <br>
                <button style="margin: 10px; " onclick=yourFunction("/miner/mine/")><span class="glyphicon glyphicon-shopping-cart"></span> Mine Transaction</button>
            {% endif %}
        </div>

        <div class="split right">
            <div id="div_r" class="centered">
                <h2 class="media-heading">{{ head }}</h2>
                <p class="text-secondary">{{ message|linebreaksbr }}</p>
            </div>
        </div>
    </div>
{% endblock content %}