{% extends "base.html" %}
{% block content %}
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }

    </style>
    <table>
        <tr>
            <th>Block Id</th>
            <th>Voter</th>
            <th>Voted</th>
            <th>Time Stamp</th>
            <th>Signature</th>
        </tr>
        {% if transactions %}
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction.block_Id}}</td>
                <td>{{transaction.tempid}}</td>
                <td>{{transaction.voted}}</td>
                <td>{{transaction.timestamp}}</td>
                <td>{{transaction.signature|truncatechars:50}}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock content %}