<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body>
    <div class="grid">
        <form action="." method="POST" class="form votecast"> {% csrf_token %}

            <div class="input-group media">
                <span class="glyphicon glyphicon-user" ></span>
                <input type="text" name="tempid" placeholder="Temp ID" autofocus required id="id_tempid">
            </div>
            <div class="input-group media">
                <span class="glyphicon glyphicon-lock" ></span>
                <input type="text" name="voted" placeholder="Candidate" required id="id_voted">
            </div>
            <div class="input-group media">
                <input type="hidden" name="timestamp" placeholder="Time stamp" id="id_timestamp">
                <script>
                    var d = new Date();
                    document.getElementById("id_timestamp").value  = + d;
                </script>
            </div>
            <div class="input-group media">
                <input type="hidden" name="signature" placeholder="signature" id="id_signature">
                <script>
                    var d = new Date();
                    document.getElementById("id_signature").value  = + d;
                </script>
            </div>

            <button class="open-button btn btn-primary media" type="submit">Vote</button>
        </form>
    </div>
</body>
</html>